<div class="container col-10">
  <%= render 'shared/errors', obj: @article %>
  <%= form_with(model: @article, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
    <div class="form-group row align-items-center mx-0">
      <%= f.label :title, for: "title", class: "col-3 m-0 text-white" %><br/>
      <%= f.text_field :title, class: "form-control col-9 shadow rounded", id:"title", placeholder: "Enter title of article" %>
    </div>

    <div class="form-group row mx-0">
      <%= f.label :description, for: "description", class: "col-3 0 text-white" %><br/>
      <%= f.text_area :description, rows: 10, class: "form-control col-9 shadow rounded", id:"description", placeholder: "Enter description of article"  %>
    </div>

    <div class="form-group row mx-0">
      <%= f.label :category, for: "description", class: "col-3 0 text-white" %><br/>
      <%= f.collection_select(:category_ids, Category.order(:name), :id, :name, 
      { :prompt => "Make your selection from the list below (can be empty)" }, 
      { :multiple => true, size: Category.all.count + 1, class: "custom-select col-9 shadow rounded" }) %>
    </div>

    <div class="form-group row justify-content-center my-4">
      <%= f.submit class: "btn btn-outline-light"%>
    </div>
  <% end %>
</div>

<div class="text-center">
  <%= link_to '[ Cancel and return to articles listing ]' , articles_path, class: "text-info" %>
</div>